body {
  margin: 50px 200px;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

#titles-div {
  background-color: lightblue;
  height: 50px;
  display: flex;
  align-items: center;
}

#materials {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#teaching {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.card {
  transition: transform 0.6s;
}

.card:hover {
  background-color: lightblue;
  transform: scale(1.1);
}

#keyword {
  transition: 2s ease-in-out;
}
