body {
  margin: 50px 200px;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

#titles-div {
  background-color: lightblue;
}

#materials {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#teaching {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.card:hover {
  background-color: lightblue;
}
