body {
  text-align: center;
  margin-top: 30px;
}

header {
  background-color: rgb(197, 194, 194);
  padding: 10px;
  color: #6596df;
}

input {
  width: 60%;
  margin: 20px 0;
}

h2 {
  font-size: 15px;
}

.graph-img {
  width: 30px;
  height: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-button,
.capital-button,
.population-button {
  background-color: #6596df;
  color: white;
}

.name-button:hover,
.capital-button:hover,
.population-button:hover,
.graph-img:hover {
  cursor: pointer;
}

.card {
  margin: 10px 1px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.hide {
  display: none;
}

.countries-section {
  margin: 0 auto;
}

.data {
  margin: 0 auto;
}

.data-section {
  margin-top: 20px;
}
